@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Varela+Round&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}

/* -------- SCROLLBAR DESIGN  --------*/
*::-webkit-scrollbar {
  width: 0.3em;
  background-color: #373a3e;
}

*::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;

}
/* ------- END SCROLLBAR -------- */
